@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(/fonts/Montserrat-Bold.ttf);
}

body {
  font-family: 'Montserrat-Regular';
}

.MontserratBold {
  font-family: 'Montserrat-Bold';
}

.custom-gradient {
  background-image: linear-gradient(to right, #2A1D1C , #000);
}